<!DOCTYPE html>
<html>
	<head>
		<title> index</title>
		<link rel="stylesheet" type="text/css" href="/stylesheets/index.css">
	</head>
	<body class="center">
		<img id="logo" src="/images/logo.png">
		<div class="center container">
			<div class="center">
				<form action = "/main" method="get">
					<label for="id" class = "a11y-hidden">아이디</label>
					<input type="text" placeholder="user_id" id="id">
					<label for="password" class = "a11y-hidden">아이디</label>
					<input type="password" placeholder="user_password" id="password">
					<button type="submit" id="button_is_next" onclick ="movePage()">Sign in</button>
				</form>
				<div class = "center container-footer">
					<span><a href="#">Sign up</a></span>
					<span><a href="#">Find ID/PassWord</a></span>
				</div>
		</div>
		</div>
	</body>
</html>